.contact {
	margin-top: 5rem;
	padding-bottom: 7rem;
	background-image: linear-gradient(#00000080, #00000080),
		url(../img/contact.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__container {
		background-image: linear-gradient(80deg, #00000000 40%, #ffff 40%),
			url(../img/contact-form.jpg);
		width: 80vw;
		background-position: start;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 3rem;
		display: flex;
		justify-content: end;

		@media screen and (max-width: $medium) {
			background-image: linear-gradient(80deg, #ffffff 40%, #ffff 40%),
				url(../../img/contact-form.jpg);
			justify-content: center;
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}
}
