.login,
.forget-password,
.register {
	padding-top: 12rem;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&--register {
		padding-bottom: 17rem;
	}
}

.link-styles {
	text-decoration: none;
	color: currentColor;
}
